@import url('https://fonts.googleapis.com/css2?family=Covered+By+Your+Grace&family=Kanit:wght@400;500&family=Quicksand:wght@400;600;700&display=swap');
/*
    font-family: 'Covered By Your Grace', cursive;
    font-family: 'Kanit', sans-serif;
    font-family: 'Quicksand', sans-serif;
*/
:root{
    --seaGreen: #26A0A0;
    --yellow: #F09A00;
    --olive: #858800;
    --cobalt: #2657A0;
    --black: #0C0D10;
    --WatermelonRed: #C74444;
}

.flex{
    display: flex !important;
}
.space-between {
    justify-content: space-between;
}

.yellow{
    color: var(--yellow) !important;
}

.olive{
    color: var(--olive) !important;
}

.cobalt{
    color: var(--cobalt) !important;
}

.black{
    color: var(--black) !important;
}

.seaGreen{
    color: var(--seaGreen) !important;
}

.watermelonRed{
    color: var(--WatermelonRed) !important;
}

.and{
    position: relative !important;
}

.profilepic{
    width: 70%;
}

.techIcon{
    margin: 0.5rem 0.5rem;
}

.langIcon{
    margin: 0.5rem 0.5rem;
}

.cardImg{
    width: 90%;
    padding-left: 10%;
}

.centered{
    text-align: center;
    justify-content: center;
}

.minHeight{
    min-height: 42rem;
}