@import url('https://fonts.googleapis.com/css2?family=Covered+By+Your+Grace&family=Kanit:wght@400;500&family=Quicksand:wght@400;600;700&display=swap');
/*
    font-family: 'Covered By Your Grace', cursive;
    font-family: 'Kanit', sans-serif;
    font-family: 'Quicksand', sans-serif;
*/
:root{
    --seaGreen: #26A0A0;
    --yellow: #F09A00;
    --olive: #858800;
    --cobalt: #2657A0;
    --black: #0C0D10;
    --WatermelonRed: #C74444;
}

.flex{
    display: flex !important;
}
.space-between {
    justify-content: space-between;
}

.yellow{
    color: var(--yellow) !important;
}

.olive{
    color: var(--olive) !important;
}

.cobalt{
    color: var(--cobalt) !important;
}

.black{
    color: var(--black) !important;
}

.seaGreen{
    color: var(--seaGreen) !important;
}

.watermelonRed{
    color: var(--WatermelonRed) !important;
}

.and{
    position: relative !important;
}

.profilepic{
    width: 70%;
}

.techIcon{
    margin: 0.5rem 0.5rem;
}

.langIcon{
    margin: 0.5rem 0.5rem;
}

.cardImg{
    width: 90%;
    padding-left: 10%;
}

.centered{
    text-align: center;
    justify-content: center;
}

.minHeight{
    min-height: 42rem;
}

/* COLOR ICONS */
.github{
    color: #0D2636;
}

.html{
    color: #F0652B;
}

.sass{
    color: #CD6799;
}

.ps{
    color: #091F34;
    background-color: #47A2DA;
    border-radius: 10px;
}

.ai {
    color: #450A37;
    background-color: #F89A1C;
    border-radius: 10px;
}

.xd{
    background-color: #CB73AF;
    border-radius: 10px;
    color: #450A37;
}

.vue{
    color: #2f9c6f;
}

.react{
    color: #38a2b9;
}

.js{
    color: #323330;
    background-color: #F4E118;
    border-radius: 10px;
    padding: 5px;
}

.css{
    color: #4264AF;
}

.figma{
    height: 35px;
    width: 35px;
}

.yarn{
    color: #3298C2;
}

.pnpm{
    height: 35px;
    width: 35px;
}

.git{
    color: #EE5033;
}

.iconPad{
    margin: 0.1rem 0.25rem;
}

.fXUmPF a{
    padding: 1rem 0;
}

@media screen and (max-width: 1200px){
    .block{
        display: block !important;
    }
    .cardImg {
        width: 80%;
    }
    .linkFix{
        margin: 4rem 0 !important;
    }
}